@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-green: #335337;
}

@font-face {
  font-family: Altone-r;
  src: url(./fonts/AltoneTrial-Regular.ttf);
}

@font-face {
  font-family: Altone-b;
  src: url(./fonts/AltoneTrial-Bold.ttf);
}

*::-webkit-scrollbar {
  display: none;
}


body {
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
}
